---
Language: Cpp
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Right
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Linux
ColumnLimit: 80
CommentPragmas: '^\@.+'
ContinuationIndentWidth: 8
ForEachMacros:
  - _cn_list_foreach
  - cn_list_foreach
  - list_foreach
IndentWidth: 8
PointerAlignment: Left
TabWidth: 8
UseTab: AlignWithSpaces
---
